@page "/TodoList"

<h1>Todo List</h1>
<ContextMenuTrigger MenuId="todoItemsMenu">
    <ul id="list">
        @foreach (var item in TodoItems)
        {
            <li id="@($"listitem-{TodoItems.IndexOf(item)}")"><input type="checkbox" bind="item.IsChecked" readonly /> @item.Text</li>
        }
    </ul>
</ContextMenuTrigger>

<ContextMenu Id="todoItemsMenu">
    <MenuItem id="menuitem-copy" Click="@CopyClick"><i class="fas fa-file blue-icon"></i> Copy</MenuItem>
    <MenuItem id="menuitem-check" Click="@CheckClick" EnabledHandler="@CheckEnabledHandler"><i class="fas fa-file blue-icon"></i> Check</MenuItem>
    <MenuItem id="menuitem-delete" Click="@DeleteClick"><i class="fas fa-trash-alt red-icon"></i> Delete</MenuItem>
</ContextMenu>

@functions{

    void CopyClick(MenuItemClickEventArgs e)
    {
        //Interop is required here due to current blazor limitations
        var itemIndex = RegisteredFunction.Invoke<int>("TestApp.TodoList.GetItemIndex", e.ContextMenuTargetId);
        if (itemIndex >= 0)
        {
            var currentTodoItem = TodoItems.ElementAt(itemIndex);
            TodoItems.Add(new TodoItem
            {
                Text = currentTodoItem.Text + " Copy",
                IsChecked = currentTodoItem.IsChecked
            });
            StateHasChanged();
        }
    }

    bool CheckEnabledHandler(MenuItemEnabledHandlerArgs e)
    {
        //Interop is required here due to current blazor limitations
        var itemIndex = RegisteredFunction.Invoke<int>("TestApp.TodoList.GetItemIndex", e.ContextMenuTargetId);
        if (itemIndex >= 0)
        {
            var currentTodoItem = TodoItems.ElementAt(itemIndex);
            return !currentTodoItem.IsChecked;
        }

        return false;
    }

    void CheckClick(MenuItemClickEventArgs e)
    {
        //Interop is required here due to current blazor limitations
        var itemIndex = RegisteredFunction.Invoke<int>("TestApp.TodoList.GetItemIndex", e.ContextMenuTargetId);
        if (itemIndex >= 0)
        {
            var currentTodoItem = TodoItems.ElementAt(itemIndex);
            currentTodoItem.IsChecked = true;
            StateHasChanged();
        }
    }

    void DeleteClick(MenuItemClickEventArgs e)
    {
        //Interop is required here due to current blazor limitations
        var itemIndex = RegisteredFunction.Invoke<int>("TestApp.TodoList.GetItemIndex", e.ContextMenuTargetId);
        if (itemIndex >= 0)
        {
            var currentTodoItem = TodoItems.ElementAt(itemIndex);
            TodoItems.Remove(currentTodoItem);
            StateHasChanged();
        }
    }

    List<TodoItem> TodoItems = new List<TodoItem>
    {
        new TodoItem
        {
            Text = "Item 1",
            IsChecked = true
        },
        new TodoItem
        {
            Text="Item 2"
        }
    };

    class TodoItem
    {
        public string Text { get; set; }
        public bool IsChecked { get; set; }
    }

}