@inject ISampleDataService sampleDataService


<h1 id="header">Hello, Blazor context menu !</h1>

<label>Menu 2 animation: </label>
<select @bind="Animation">
    <option value="@BlazorContextMenu.Animation.None">@BlazorContextMenu.Animation.None</option>
    <option value="@BlazorContextMenu.Animation.FadeIn">@BlazorContextMenu.Animation.FadeIn</option>
    <option value="@BlazorContextMenu.Animation.Grow">@BlazorContextMenu.Animation.Grow</option>
    <option value="@BlazorContextMenu.Animation.Slide">@BlazorContextMenu.Animation.Slide</option>
    <option value="@BlazorContextMenu.Animation.Zoom">@BlazorContextMenu.Animation.Zoom</option>
</select>


<ContextMenuTrigger MenuId="menu1">
    <p id="test1-trigger">Right-click me (menu1)</p>
</ContextMenuTrigger>

<textarea style="@($"display:{TextAreaDisplay};")" id="test1-textarea" rows="20" cols="50" readonly wrap="hard" @bind="Summaries"></textarea>



<ContextMenuTrigger MenuId="menu2">
    <p id="test2-trigger">Right-click me (menu2 - with icons and sub-menus)</p>
</ContextMenuTrigger>


<ContextMenuTrigger MenuId="menu1" MouseButtonTrigger="MouseButtonTrigger.Left">
    <p id="test3-trigger">Left-click me (menu1)</p>
</ContextMenuTrigger>

<ContextMenuTrigger MenuId="menu1" MouseButtonTrigger="MouseButtonTrigger.Both">
    <p id="test4-trigger">Click me with left or right mouse button (menu1)</p>
</ContextMenuTrigger>

<ContextMenuTrigger MenuId="menu2" MouseButtonTrigger="MouseButtonTrigger.Left">
    <p id="test5-trigger">Left-click me (menu2 - with icons and sub-menus)</p>
</ContextMenuTrigger>

<ContextMenuTrigger MenuId="menu2" MouseButtonTrigger="MouseButtonTrigger.Both">
    <p id="test6-trigger">Right or left-click me (menu2 - with icons and sub-menus)</p>
</ContextMenuTrigger>

<ContextMenuTrigger MenuId="menu1" WrapperTag="span">
    <p id="test7-trigger">(span trigger) Right-click me (menu1)</p>
</ContextMenuTrigger>

<ContextMenuTrigger MenuId="menu1" Id="test8-trigger" WrapperTag="textarea">
    (textarea trigger) Right-click me (menu1)
</ContextMenuTrigger>

<ContextMenuTrigger Id="test9-trigger" MenuId="menu1" WrapperTag="pre">
    (pre) Right-click me (menu1). Menu show is prevented!
    this is a preformated text
</ContextMenuTrigger>

<ContextMenu Id="menu1" Template="dark" OnAppearing="OnAppearingMenu1">
    <Item Id="menu1-item1" OnClick="FetchDataClick">Fetch Data</Item>
    <Item Id="menu1-item2" OnClick="ClearDataClick">Clear Data</Item>
    <Seperator />
    <Item Id="menu1-item3" Enabled="false">Disabled Item </Item>
</ContextMenu>

<ContextMenu Id="menu2" Template="red" Animation="Animation">
    <Item Id="menu2-item1" OnClick="OnClick"> <i class="far fa-file"></i> New</Item>
    <Item OnClick="OnClick"><i class="fas fa-edit"></i> Edit</Item>
    <Item OnClick="OnClick" Enabled="false" > <i class="fas fa-trash-alt"></i> Delete</Item>
    <Seperator />
    <Item Id="submenu1-trigger">
        <i class="fas fa-cogs"></i> More
        <SubMenu Id="submenu1" Template="dark">
            <Item OnClick="OnClick"> <i class="far fa-save"></i> Save As</Item>
            <Item OnClick="OnClick"> <i class="far fa-save"></i> Save</Item>
            <Item Id="submenu2-trigger">
                <i class="fas fa-save"></i> Export as
                <SubMenu Id="submenu2">
                    <Item OnClick="OnClick"> <i class="fas fa-file-pdf"></i> Pdf</Item>
                    <Item OnClick="OnClick"> <i class="far fa-file-alt"></i> Text</Item>
                </SubMenu>
            </Item>
        </SubMenu>
    </Item>
    <Item Enabled="false">
        <i class="fas fa-cogs"></i> Disabled Submenu
        <SubMenu>
            <Item OnClick="OnClick">Item 1</Item>
            <Item OnClick="OnClick">Item 2</Item>
        </SubMenu>
    </Item>
</ContextMenu>

<NavLink href="/TodoList">Go to Todo List</NavLink>
@functions{
    protected string TextAreaDisplay { get; set; } = "none";

    protected string Summaries { get; set; }

    protected Animation Animation { get; set; }

    async Task FetchDataClick(ItemClickEventArgs e)
    {
        Console.WriteLine("Fetching");
        var summaries = await sampleDataService.GetSampleData();
        Summaries = string.Join(",", summaries);
        Console.WriteLine("Fetched: " + summaries);
        TextAreaDisplay = "block";
        StateHasChanged();
    }

    void ClearDataClick(ItemClickEventArgs e)
    {
        Summaries = "";
        TextAreaDisplay = "none";
        StateHasChanged();
    }

    void OnClick(ItemClickEventArgs e)
    {
        Console.WriteLine($"Item Clicked => Menu: {e.ContextMenuId}, MenuTarget: {e.ContextMenuTargetId}, IsCanceled: {e.IsCanceled}, MenuItem: {e.MenuItemElement}, MouseEvent: {e.MouseEvent}");
    }

    void OnAppearingMenu1(MenuAppearingEventArgs e)
    {
        if(e.ContextMenuTriggerId == "test9-trigger")
        {
            e.PreventShow = true;
        }
    }
}
